@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .editor-wrapper {
    /* @apply relative h-full calc(w-full - [10px]); */
    position: relative;
    height: 100%;
    width: calc(100% - 10px);
  }

  .editor-wrapper .button-format {
    @apply absolute top-1 right-1 z-20 opacity-0 transition  duration-300;
  }

  .editor-wrapper:hover .button-format {
    @apply opacity-100;
  }

  .preview-wrapper {
    @apply relative h-full flex-1 after:content-[''] after:absolute after:inset-0 after:opacity-0;
  }

  .preview-wrapper iframe {
    @apply h-full w-full;
  }

  .react-draggable-transparent-selection .preview-wrapper:after {
    @apply content-[''] absolute inset-0 opacity-0;
  }

  .resize-horizontal {
    @apply flex;
  }

  .preview-error {
    @apply absolute top-3 left-3 text-red-500;
  }

  /* .react-resizable-handle {
    @apply block bg-[#37414b] bg-no-repeat;
    background-position: 50%;
  }

  .react-resizable-handle-s {
    @apply h-3 w-full cursor-row-resize;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  }

  .react-resizable-handle-e {
    @apply w-3 min-w-[10px] h-full cursor-col-resize;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  } */
}

/* Dragger Styles */
.react-resizable-handle {
  display: block;
  background-color: #37414b;
  background-repeat: no-repeat;
  background-position: 50%;
}

.react-resizable-handle-s {
  height: 10px;
  width: 100%;
  cursor: row-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}

.react-resizable-handle-e {
  width: 10px;
  min-width: 10px;
  height: 100%;
  cursor: col-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

/* Text Editor Styles */
.w-md-editor .title {
  line-height: unset;
  font-size: unset;
  font-weight: unset;
  color: #d4d4d4 !important;
}

.w-md-editor ul {
  line-height: 1;
}

.text-editor .w-md-editor-bar svg {
  display: none;
}

.text-editor .w-md-editor-bar {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  height: 11px;
  cursor: row-resize;
  background-color: #37414b;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  position: relative;
}

.text-editor em {
  font-style: italic;
}

.text-editor .wmde-markdown hr {
  border-top: 1px solid #dee5ed;
}

.text-editor .wmde-markdown ol {
  list-style: decimal;
}

.text-editor .w-md-editor-show-live {
  /* Hide menu bar buttons to prevent accidental delete */
  z-index: 20;
}

.text-editor .w-md-editor-toolbar {
  background-color: #37414b;
  border-bottom: 1px solid gray;
}

.text-editor .w-md-editor-toolbar li button {
  color: #d4d4d4;
}

.text-editor .w-md-editor-content {
  background-color: #202123;
}

.text-editor .w-md-editor,
.text-editor .w-md-editor .w-md-editor-text-pre {
  color: #d4d4d4;
}

.text-editor .w-md-editor-text-pre .bold {
  color: unset;
}

.text-editor .token.list.punctuation {
  background-color: unset;
}

/* Cell List Item Component */
.cell-list-item {
  position: relative;
}

.action-bar-wrapper {
  height: 30px;
  width: 100%;
  background-color: #37414b;
}

/* Action Bar Component */
.action-bar {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.25;
  transition: opacity 0.3s;
}

.action-bar:hover {
  opacity: 1;
}
